.screen-header {
  position: fixed;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--horizontal-space);
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  opacity: 0.7;
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
    color: black;
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotatecog 3s ease-in-out infinite;
}
